{% extends "base.html" %}
{% block content %}

    <div class="col-md-1"></div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" >
            <li role="presentation" id="MyClass" class="active"><a><span onclick="choice_table('MyClass')">班级表class</span></a></li>
            <li role="presentation" id="MyStudent" ><a><span onclick="choice_table('MyStudent')">学生表student</span></a></li>
            <li role="presentation" id="MyTeacher"><a><span onclick="choice_table('MyTeacher')">教师表teacher</span></a></li>
            <li role="presentation" id="MyCourse"><a><span onclick="choice_table('MyCourse')">课程表course</span></a></li>
            <li role="presentation" id="MyScore"><a><span onclick="choice_table('MyScore')">成绩表score</span></a></li>
        </ul>
        <div style=" overflow:scroll; width:100%; height:300px;">
            <table id="table" class="table table-striped">
                {{ table_html | safe }}
            </table>
        </div>
        <br><hr>

        <div class="col-md-2">
            <div class="input-group">
                <span class="input-group-addon">第</span>
                <input type="text" id="number" class="form-control"  value="{{ id }}">
                <span class="input-group-addon">题</span>

            </div>
        </div>

        <div class="col-md-10" style="text-align:right">

            <input  onclick="getanswer()" type="button"  class="btn btn-default" value="看答案">
            <input  onclick="getnowquestion()"  type="button"  class="btn btn-default" value="确定">
        </div>

        <br>
        <br>
        <br>

        <div style="width:10%;height:150px;background-color: #ededed;float: left;display: table-cell;vertical-align: middle;text-align: left;">
            {% load staticfiles %}
            <img onclick="previous()" style="width:80px;height:80px;margin-top:30px;margin-bottom: 30px;" src="{% static 'shangyige.png' %}">
        </div>

        <div class="jumbotron" style="width:80%;height:150px;float: left;margin-bottom: 0px;">
            <div class="container">
                <p id="question">{{ question }}</p>
            </div>
        </div>
        <div style="width:10%;height:150px;background-color: #ededed;float: left;display: table-cell;vertical-align: middle;text-align: right;">
            {% load staticfiles %}
            <img onclick="next()" style="width:80px;height:80px;margin-top:30px;margin-bottom: 30px;" src="{% static 'xiayige.png' %}">
        </div>
        <input style="display: none" id="questionid" name="questionid" value="{{ id }}">
        <input style="display: none" id="questionclass" name="questionclass" value="{{ questionclass }}">
        <input style="display: none" id="myurl" name="myurl" value="{{ myurl }}">
        <form >
            {% if questionclass == 1 %}
            <div class="form-group" id="sqlyuju">
                <label for="mysql" style="margin-top:30px">MySQL:</label>
                <textarea id="mysql" name="mysql" class="form-control" style="width: 100%;height: 130px;font-size:18px;"></textarea>
                <br>
            </div>
            {% else %}
                {% if questionclass == 2 %}
                    <label for="mysql" style="margin-top:30px">选择:</label>
            <div class="form-group" id="sqlchoice" style="margin-left:30px;margin-top:10px;">
                <input type="radio" name="iCheck" value="1"  id="checka"> A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="iCheck" value="2"  id="checkb"> B
            </div>
                {% endif %}
            {% endif %}

            <div class="form-group" style="text-align:right">
                <input type="button" class="btn btn-default" onclick="uploadmysql()" value="提交">
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>

<script src="/static/js/sqlobj/mysqlpractice.js"></script>
{% endblock %}